@model LoginPageViewModel



<form class="w-50 align-self-center">
    <div class="form-group">
        <label for="loginInput">Login: </label>
        <input type="text" id="loginInput" placeholder="Enter Login" class="form-control" />
    </div>
    <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" id="passwordInput" class="form-control" />
        <a>Forgot Password?</a>
    </div>
    <div class="d-inline">
        <button class="btn btn-secondary">Register</button>
        <button type="submit" class="btn btn-secondary">Login</button>
    </div>
</form>
@{
    foreach (var error in Model.Errors)
    {
        <p>@error</p>
    }
}