<nav class="navbar navbar-expand-sm navbar-dark bg-secondary border-bottom box-shadow mb-4">
  <div class="container">
    <a href="#" class="navbar-brand align-self-lg-end">Comic Book Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse align-self-lg-center">
      <ul class="navbar-nav flex-grow-2">
        <li class="nav-item">
          <a class="nav-link text-light">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Comic Books
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" >All</a>
            <a class="dropdown-item" href="#">Dc Comics</a>
            <a class="dropdown-item" href="#">Marvel Comics</a>
            <a class="dropdown-item" href="#">Dark Horse Comics</a>
            <a class="dropdown-item" href="#">Other</a>
          </div>
        </li>
        <li>
          <a class="nav-link text-light">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Privacy</a>
        </li>
      </ul>
    </div>
    <div class="form-inline align-content-lg-end">
      <button class="btn btn-primary my-1 my-sm-1">Login/Register</button>
    </div>
  </div>
</nav>
