<div class="card float-sm-left" style="width: 18rem; height: 35rem; margin: 10px 10px 10px 10px">
  <img src="" class="card-img-top align-self-md-center" alt="..." style="height: 15rem; width: 10rem;">
  <div class="card-body" style="position: absolute; bottom: 0; height: 20rem">
    <h5 class="card-title" [innerHTML]="comic.title"></h5>
    <h6><b [innerHTML]="'$' + comic.price"></b></h6>
    <p class="card-text" [innerHTML]="comic.shortDescription"></p>
    <a href="#" class="btn btn-primary" style="position: absolute; bottom: 15px;">Show Details</a>
  </div>
</div>
