<header>
  <app-menu></app-menu>
</header>
<div class="container d-flex flex-column">
  <main role="main" class="pb-3 flex-fill">
    <router-outlet></router-outlet>
    <ul>
      <li *ngFor="let comic of comics">
        <h3 [innerHTML]="comic.title"></h3>
        <p [innerHTML]="comic.shortDescription"></p>
        <p [innerHTML]="comic.onSaleDate"></p>
      </li>
    </ul>
  </main>
</div>

<footer class="border-top footer text-muted">
  <div class="container">
    &copy; 2019 - ComicBookShopCore.Web - <a>Privacy</a>
  </div>
</footer>
